<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aigestudio.demo">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="AndroidViewDemo"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="toolbar.MainActivity" />
        <activity
            android:name="toolbar.ToolbarForActionBarActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="toolbar.ToolbarActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
